:root {
  font-family: 'Zeyada', cursive;
  color: white;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  user-select: none;
}

canvas {
  position: absolute;
  z-index: -1;
}

.info {
  position: absolute;
  top: 15px;
  left: 15px;
}

dialog {
  padding: 0;
  /* transform: translate(0, -50%); */
  font-size: 2rem;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
dialog::backdrop {
  background-color: #0008;
}
dialog form {
  padding: 1em;
}

.dialogue {
  position: absolute;
  display: none;
  background-color: #08080899;
  color: white;
  font-size: 2em;
  width: 60%;
  height: 30%;
  transform: translate(-50%, 0);
  padding: 15px;
  left: 50%;
  bottom: 15px;
}

.dialogue .name {
  position: absolute;
  transform: translate(0, -100%);
}

.log {
  position: absolute;
  display: flex;
  bottom: 15px;
  right: 15px;
  padding: 15px;
  color: white;
  flex-direction: column;
  font-size: 1.5rem;
}

.log div {
  margin: 0 5px;
}

.log div:first-child {
  margin-top: auto;
}

.cursor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #fff;
}

#hints {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-family: 'Courier New', Courier, monospace;
}